asgiref==3.5.0
click==8.0.3
dj-database-url==0.5.0
Django==4.0.2
django-datatable==0.3.1
django-simple-search==1.0.2
et-xmlfile==1.1.0
gunicorn==20.1.0
itsdangerous==2.0.1
jdcal==1.4.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.22.2
openpyxl==3.0.9
pandas==1.4.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
python-dateutil==2.8.2
python-decouple==3.6
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
tqdm==4.62.3
Unipath==1.1
Werkzeug==2.0.3
whitenoise==6.0.0
xlrd==2.0.1
