{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="http://verjo101.butantan.gov.br/users/vinicius/static/xpathevaluate.js"></script>
<script src="http://verjo101.butantan.gov.br/users/vinicius/static/style.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.8/cytoscape.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Schistosoma mansoni LncRNAs Database</title>
    </head>
    <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i>Schistosoma mansoni</i> lncRNAs Database</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/">Cytoscape Networks</a></li>
            <li><a href="http://www2.iq.usp.br/docente/verjo/">Lab</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h3 style="text-align: center;text-decoration:none;"><i>Schistosoma mansoni</i> lncRNAs Database </h3>
      <br />
      <a href="/">
          <img src="http://verjo102.butantan.gov.br/vinicius/imagens/logo_db.png" alt=""  width="450" height="200" style="display:block;margin:auto;">
      </a>
    <hr/>
        {% block container-central %}
        {% endblock container-central %}
    </div>
    </body>
</html>
