{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="{% static 'xpathevaluate.js' %}"></script>
<script src="{% static 'style.css' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.8/cytoscape.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Schistosoma mansoni lncRNAs Database</title>
    </head>
    <body>
    <nav class="navbar navbar-default" style="background-color: #013587;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: #f2fa02;"><i>Schistosoma mansoni</i> lncRNAs Database</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if home_link %}
            <li><a href="{{ home_link }}" style="color: #f2fa02;">Home</a></li>
            {% else %}
            <li><a href="/" style="color: #f2fa02;">Home</a></li>
            {% endif %}
            <li><a href="/" style="color: #f2fa02;">Atlas</a></li>
            <li><a href="/cyto_view/" style="color: #f2fa02;">Atlas Cytoscape Networks</a></li>
            <li><a href="/datasets/" style="color: #f2fa02;">Datasets Used</a></li>
            <li><a href="/clusters/" style="color: #f2fa02;">Clusters Data</a></li>
            <li><a href="/cluster-search/" style="color: #f2fa02;">Single-Cell Cluster Search</a></li>
            <li><a href="http://verjolab.usp.br/" style="color: #f2fa02;">Lab</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% if page_title %}
      <h3 style="text-align:center;text-decoration:none;margin-bottom:-10px;margin-top:-5px;">{{page_title|safe}}</h3>
      {% else %}
      <h3 style="text-align:center;text-decoration:none;margin-bottom:-10px;margin-top:-5px;"><i>Schistosoma mansoni</i> lncRNAs Database </h3>
      {% endif %}
      <br />
      <a href="/">
          <img src="{% static 'logo_db.png' %}" alt=""  width="450" height="200" style="display:block;margin:auto;margin-bottom:-40px;">
      </a>
      <hr>
        {% block container-central %}
        {% endblock container-central %}
    </div>
    </body>
</html>
