{% extends "base.html" %}
{% load static %}

{% block container-central %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Other Cytoscape Networks</li>
  </ol>
  <div class="col-md-12">
    <h1>Other Cytoscape Networks</h1>
        <hr>
        <!-- Start Collapsable Part -->

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <b>From Figure 6 and Figure 7A of Vasconcelos et al. (2017) Sci. Reports 7: 10508.
Co-expression gene network (lincRNA-PC gene) pinpoints the processes in which lincRNAs may
act.</b> [ Click Here for Details ]
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>The 181 robust lincRNAs (red nodes; lincRNAs from the main intersection in the UpSet Intersection
Diagram on Fig. 4 from the Sci. Rep. paper) were used as bait for catching 2359 PC genes (blue nodes) whose expression levels across five
developmental stages are either positively (r ≥ 0.8, cyan edges) or negatively (r ≤ −0.8, gray edges) correlated
with the expression levels of the lincRNAs. The network contains 68,625 edges among which 63,156 (92%)
are positive correlations and 5469 (8%) negative ones.</p>
<p><b>Complete view of the lincRNA-PC gene co-expression network built by the
Topological Filtering Step (TFS) approach. </b></p>
<p>“Network Analyzer” function from cytoscape was used in order to obtain betweenness centrality
score for each node, meaning the bigger the node, the higher propensity to be a hub. The network
contains 89 SmLINC nodes (red) and 237 PC gene (Smp) nodes (blue), with 62.5% of positively
correlated pairs (204 / 326, r ≥ 0.5, cyan edges) and 37.5% of negatively correlated ones (122 /
326, r ≤ -0.5, gray edges). Dashed edges represent neighbor genes.</p>
        <center>
          <b>Download here the .cys network file for visualization in your local Cytoscape tool.</b>
          <a href="{% static 'cytoscape/CoexpNetwork-cor0p8-DEedgeDE-lincSMP-181mainInt.cys' %}">
            <button type="button" name="button" class="btn btn-success">Download</button>
          </a>
        </center>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <b>From Figure S5 of Vasconcelos et al. (2017) Sci. Reports 7: 10508.
A second co-expression network construction approach highlights PC gene hubs
and their correlated lincRNAs.</b> [ Click Here for Details ]
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Network with 2965 nodes, 750 lincRNAs (red) + 2215 PC
genes (blue), and 52,913 edges, of which 51,807 are for positive r (cyan) and 1106
for negative (gray) r correlation coefficient. The network was built by using 307 highly differentially
expressed Smps (log2FC ≥ 10 on at least oneout of five developmental stages) as bait in order to
rescue all the other genes that presented a very stringent expression correlation coefficient (r ≥
0.9 or r ≤ -0.9) with them.</p>
        <center>
          <b>Download here the .cys network file for visualization in your local Cytoscape tool.</b>
          <a href="{% static 'cytoscape/CoexpNetwork-cor0p9-SMPlogFCgt10edgeDE.cys' %}">
            <button type="button" name="button" class="btn btn-success">Download</button>
          </a>
        </center>
              </div>
            </div>
          </div>
        </div>

        <!-- End collapsable part -->


    </div>
{% endblock container-central %}
