{% extends "base.html" %}
{% load static %}

{% block container-central %}
<p id="atlas-paper-info">
  This site contains the web resource described in the paper "Atlas of <i>Schistosoma mansoni</i> long non-coding RNAs and their expression correlation to protein-coding genes" (2018) by Elton J. R. Vasconcelos, Vinícius C. Mesel, Lucas F. daSilva, David S. Pires, Guilherme M. Lavezzo, Adriana S. A. Pereira, Murilo S. Amaral and Sergio Verjovski-Almeida, <i>Database</i>, Volume 2018: bay068, <a href="https://doi.org/10.1093/database/bay068">https://doi.org/10.1093/database/bay068</a>.
</p>
<hr>
<p id="atlas-paper-info">
  Based on data from Vasconcelos, EJR et al., The <i>Schistosoma mansoni</i> genome encodes thousands of long noncoding RNAs predicted to be functional at different parasite life-cycle stages. <a href="https://www.nature.com/articles/s41598-017-10853-6" target="_blank"><i>Scientific Reports</i> 7: 10508, 2017.</a>
</p>
<hr/>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Cytoscape Networks</li>
  <li><a href="/net_downloads/">Other Cytoscape Networks</a></li>
</ol>
<style>
    #cy {
        width: 100%;
        height: 500px;
    }
</style>
<h3><b><i>Schistosoma mansoni</i> enriched Gene Ontologies (green) for lincRNAs-coexpressed protein-coding genes</b></h3>
<p>You can zoom in and move the network nodes in your browser. Or you can go to the <a href="{%url 'cytoscape_download'%}">“Other Cytoscape Networks”</a> page to download the .cys network file for visualization in your local <a href="http://www.cytoscape.org/">Cytoscape tool</a>.<br/></p>
<hr>
<div id="cy"></div>

<script type="text/javascript">
$.getJSON("{% static 'cytoscape/new_cyto2.cyjs' %}", function (data) {
  var cy = cytoscape({
        container: document.getElementById('cy'),
        elements: data['elements'],
        style: [{
            "selector": "core",
            "style": {
              "selection-box-color": "#AAD8FF",
              "selection-box-border-color": "#8BB0D0",
              "selection-box-opacity": "0.5"
            }
          }, {
            "selector": "node",
            "style": {
              "width": "mapData(nodeSize_GO_DE_2359SMPs_cor0p8_181lincRNAs, 4, 60, 40, 100)",
              "height": "mapData(nodeSize_GO_DE_2359SMPs_cor0p8_181lincRNAs, 4, 60, 40, 100)",
              "content": "data(name)",
              "font-size": "12px",
              "text-valign": "center",
              "text-halign": "center",
              "background-color": "mapData(pValue_GO_DE_2359SMPs_cor0p8_181lincRNAs, 0, 1, #cccccc, #55AA55)",
              "text-outline-color": "#555",
              "text-outline-width": "2px",
              "color": "#fff",
              "overlay-padding": "6px",
              "z-index": "10"
            }
          }, {
            "selector": "node[?attr]",
            "style": {
              "shape": "rectangle",
              "background-color": "#aaa",
              "text-outline-color": "#aaa",
              "font-size": "14px",
              "z-index": "1"
            }
          }, {
            "selector": "node[?query]",
            "style": {
              "background-clip": "none",
              "background-fit": "contain"
            }
          }, {
            "selector": "node:selected",
            "style": {
              "border-width": "6px",
              "border-color": "#AAD8FF",
              "border-opacity": "0.5",
              "background-color": "#77828C",
              "text-outline-color": "#77828C"
            }
          }, {
            "selector": "edge",
            "style": {
              "curve-style": "haystack",
              "haystack-radius": "10",
              "opacity": "0.4",
              "line-color": "#000",
              "width": "5px",
              "overlay-padding": "3px"
            }
          }, {
            "selector": "node.unhighlighted",
            "style": {
              "opacity": "0.2"
            }
          }, {
            "selector": "edge.unhighlighted",
            "style": {
              "opacity": "0.05"
            }
          }, {
            "selector": ".highlighted",
            "style": {
              "z-index": "999999"
            }
          }, {
            "selector": "node.highlighted",
            "style": {
              "border-width": "6px",
              "border-color": "#AAD8FF",
              "border-opacity": "0.5",
              "background-color": "#394855",
              "text-outline-color": "#394855"
            }
          }, {
            "selector": "edge.filtered",
            "style": {
              "opacity": "0"
            }
          }, {
            "selector": "edge[group=\"coexp\"]",
            "style": {
              "line-color": "#d0b7d5"
            }
          }, {
            "selector": "edge[group=\"coloc\"]",
            "style": {
              "line-color": "#a0b3dc"
            }
          }, {
            "selector": "edge[group=\"gi\"]",
            "style": {
              "line-color": "#90e190"
            }
          }, {
            "selector": "edge[group=\"path\"]",
            "style": {
              "line-color": "#9bd8de"
            }
          }, {
            "selector": "edge[group=\"pi\"]",
            "style": {
              "line-color": "#eaa2a2"
            }
          }, {
            "selector": "edge[group=\"predict\"]",
            "style": {
              "line-color": "#f6c384"
            }
          }, {
            "selector": "edge[group=\"spd\"]",
            "style": {
              "line-color": "#dad4a2"
            }
          }, {
            "selector": "edge[group=\"spd_attr\"]",
            "style": {
              "line-color": "#D0D0D0"
            }
          }, {
            "selector": "edge[group=\"reg\"]",
            "style": {
              "line-color": "#D0D0D0"
            }
          }, {
            "selector": "edge[group=\"reg_attr\"]",
            "style": {
              "line-color": "#D0D0D0"
            }
          }, {
            "selector": "edge[group=\"user\"]",
            "style": {
              "line-color": "#f0ec86"
            }
          }],
          layout: {
          name: 'cose',
          idealEdgeLength: 100,
          nodeOverlap: 20,
          refresh: 20,
          fit: true,
          padding: 30,
          randomize: false,
          componentSpacing: 100,
          nodeRepulsion: 400000,
          edgeElasticity: 100,
          nestingFactor: 5,
          gravity: 80,
          numIter: 1000,
          initialTemp: 200,
          coolingFactor: 0.95,
          minTemp: 1.0
          },
    });
  });
</script>
{% endblock container-central %}
