{% extends 'base.html' %}
{% load static %}
{% load table_tags %}


{% block container-central %}
  <p id="atlas-paper-info">
    <h2><i>Schistosoma mansoni</i> single-cell Clusters</h2>
  </p>
  <p id="atlas-paper-info">
    This site contains web resources described in the submitted manuscript "Long non-coding RNAs as markers of Schistosoma mansoni single-cell populations" (2022) by David Morales-Vicente, Lu Zhao, Gilbert O. Silveira, Ana C. Tahira, Murilo S. Amaral, James J. Collins III, Sergio Verjovski-Almeida.
  </p>
  <p id="atlas-paper-info">
    Based on a re-analysis of public sc-RNAseq raw data from Wendt, G., Zhao, L., Chen, R., Liu, C., O'donoghue, A.J., Caffrey, C.R., Reese, M.L., and Collins, J.J., 3rd (2020). A single-cell RNA-seq atlas of Schistosoma mansoni identifies a key regulator of blood feeding. Science 369, 1644-1649. doi: <a href="https://www.science.org/doi/10.1126/science.abb7709">10.1126/science.abb7709</a> The re-analysis used as reference the lncRNAs transcriptome described by Maciel, L.F., Morales-Vicente, D.A., Silveira, G.O., Ribeiro, R.O., Olberg, G.G.O., Pires, D.S., Amaral, M.S., and Verjovski-Almeida, S. (2019). Weighted gene co-expression analyses point to long non-coding RNA hub genes at different Schistosoma mansoni life-cycle stages. Front. Genet. 10:823. doi: 10.3389/fgene.2019.00823 merged with the S. mansoni genome and transcriptome v7.1 annotation.
  </p>
  <p><button><a href="/clusters/">Click here to access cluster scRNA-seq data</a></button></p>
  <hr/>
  <p id="atlas-paper-info">
    <h2><i>Schistosoma mansoni</i> Atlas</h2>
  </p>
  <p id="atlas-paper-info">
    This site contains the web resource described in the paper "Atlas of <i>Schistosoma mansoni</i> long non-coding RNAs and their expression correlation to protein-coding genes" (2018) by Elton J. R. Vasconcelos, Vinícius C. Mesel, Lucas F. daSilva, David S. Pires, Guilherme M. Lavezzo, Adriana S. A. Pereira, Murilo S. Amaral and Sergio Verjovski-Almeida, <i>Database</i>, Volume 2018: bay068, <a href="https://doi.org/10.1093/database/bay068">https://doi.org/10.1093/database/bay068</a>.
  </p>
  <p id="atlas-paper-info">
    Based on data from Vasconcelos, EJR et al., The <i>Schistosoma mansoni</i> genome encodes thousands of long noncoding RNAs predicted to be functional at different parasite life-cycle stages. <a href="https://www.nature.com/articles/s41598-017-10853-6" target="_blank"><i>Scientific Reports</i> 7: 10508, 2017.</a>
  </p>
  <p><a href="/atlas/"><button>Click here to access the Atlas</a></button></p>
  <hr/>
  {% endblock container-central %}
