{% extends 'base.html' %}
{% load static %}
{% load table_tags %}


{% block container-central %}
<p><b>Search for your lncRNA Gene of Interest using Gene ID:</b></p>
            {% render_table table %}
<script type="text/javascript">
$('document').ready(function(){
  $(document).xpathEvaluate('/html/body/div[1]/div/div[1]/div[1]').remove()
});

if (document.cookie.indexOf("visited=") >= 0) {}
else {
  document.cookie = "visited=yes; expires=Fri, 31 Dec 9999 23:59:59 GMT";
  window.location.replace("/cyto_view/");
}

</script>
{% endblock container-central %}
