{% extends "base.html" %}
{% load static %}
{% load table_tags %}

{% block container-central %}
<ol class="breadcrumb">
  <li><a href="/clusters/">Home</a></li>
  <li class="active">{{ SMP }}</li>
</ol>
<style>
.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

#smlincexpression_filter{
   display: none;
}

</style>
<div class="col-md-12">
  <h1>{{ SMP }} - Clusters where gene is enriched</h1>
  <hr>
  <a href="{% url 'lncrnas_cluster_enrichment_download_view' matrix_name_slug %}">Download this table <i class="fa fa-download" id="download-button"></i></a>
  <hr>
  {% render_table table %}
</div>
 {% endblock container-central %}
