{% extends "base.html" %}
{% load static %}

{% block container-central %}
<ol class="breadcrumb">
  <li><a href="/clusters/">Home</a></li>
  <li class="active">{{ SMP }}</li>
</ol>
<style>
.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

#smlincexpression_filter{
   display: none;
}

</style>
<div class="col-md-12">
  <h1>{{ SMP }} Data</h1>
   <hr>
   <table class="table table-striped">
      <tr>
         <td>Cluster</td>
         <td>Matrix Name</td>
         <td>Transcripts</td>
         <td>Gene</td>
         <td>Enrichment</td>
         <td>Adjuster P Value</td>
         <td>Description</td>
      </tr>
      {% for transcript in transcripts %}
      <tr>
         <td>{{ transcript.cluster_matrix.cluster }}</td>
         <td>{{ transcript.matrix_name }}</td>
         <td>{{ transcript.transcripts_id }}</td>
         <td>{{ transcript.gene_id }}</td>
         <td>{{ transcript.cluster_matrix.enrichment }}</td>
         <td>{{ transcript.cluster_matrix.adjusted_p_value }}</td>
         <td>{{ transcript.cluster_matrix.description }}</td>
      </tr>
      {% endfor %}
   </table>
</div>
 {% endblock container-central %}
